<ul class="payment-icons" aria-label="{{ 'footer.payment_methods' | t }}">
  {%- for type in shop.enabled_payment_types -%}
    <li>{{ type | payment_type_svg_tag: class: 'payment-icons__icon' }}</li>
  {%- endfor -%}
</ul>
