{%- liquid
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price
-%}
<span class="price{% if compare_at_price > price %} price--on-sale{% endif %}">
  <span class="price__current">{{ price | money }}</span>
  {%- if compare_at_price > price -%}
    <s class="price__compare">{{ compare_at_price | money }}</s>
  {%- endif -%}
</span>
