<div class="quick-view" data-quick-view hidden aria-hidden="true">
  <div class="quick-view__overlay" data-quick-view-close></div>
  <div class="quick-view__dialog" role="dialog" aria-modal="true" aria-label="{{ 'products.quick_view' | t }}">
    <button type="button" class="quick-view__close" data-quick-view-close aria-label="{{ 'general.close' | t }}">✕</button>
    <div class="quick-view__body" data-quick-view-body>
      <p class="quick-view__loading">{{ 'general.loading' | t }}</p>
    </div>
  </div>
</div>
