{%- comment -%}
  Icono para texto en scroll.
  icon: star8 | star4 | asterisk | heart | flower | dot
  image: imagen personalizada (prioridad sobre icon)
  size: px
{%- endcomment -%}
{%- assign icon_size = size | default: 18 -%}
{%- if image != blank -%}
  {{ image | image_url: width: 80 | image_tag: class: 'scrolling-text__icon-img', loading: 'lazy', widths: '40, 80', alt: '', width: icon_size, height: icon_size }}
{%- else -%}
  {%- assign icon_name = icon | default: 'star8' -%}
  <span class="scrolling-text__icon-svg scrolling-text__icon-svg--{{ icon_name }}" style="width:{{ icon_size }}px;height:{{ icon_size }}px" aria-hidden="true">
    {%- case icon_name -%}
      {%- when 'star8' -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 0 14.59 8.41 23.51 9.27 16.97 15.59 18.82 24.51 12 20.12 5.18 24.51 7.03 15.59.49 9.27 9.41 8.41z"/>
        </svg>
      {%- when 'star4' -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 2l2.4 7.2H22l-6 4.6 2.3 7.2L12 16.8 5.7 21 8 13.8 2 9.2h7.6z"/>
        </svg>
      {%- when 'asterisk' -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 2v6.5l5.5-5.5 1.4 1.4L13.5 10H20v4h-6.5l5.5 5.5-1.4 1.4L12 15.5V22h-4v-6.5l-5.5 5.5-1.4-1.4L10.5 14H4v-4h6.5L5 4.9l1.4-1.4L8 8.5V2z"/>
        </svg>
      {%- when 'heart' -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54z"/>
        </svg>
      {%- when 'flower' -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 2a2 2 0 012 2c0 .74-.4 1.39-1 1.73V7h2.27c.5-1.12 1.62-1.9 2.93-1.9a3.1 3.1 0 013.1 3.1c0 1.31-.78 2.43-1.9 2.93V14h1.27c.34-.6.99-1 1.73-1a2 2 0 012 2 2 2 0 01-2 2c-.74 0-1.39-.4-1.73-1H17v2.27c1.12.5 1.9 1.62 1.9 2.93a3.1 3.1 0 01-3.1 3.1c-1.31 0-2.43-.78-2.93-1.9V17h-2.27c-.5 1.12-1.62 1.9-2.93 1.9a3.1 3.1 0 01-3.1-3.1c0-1.31.78-2.43 1.9-2.93V14H7.73c-.34.6-.99 1-1.73 1a2 2 0 01-2-2 2 2 0 012-2c.74 0 1.39.4 1.73 1H9V7.73C7.88 7.23 7.1 6.11 7.1 4.8 7.1 3.49 8.19 2.4 9.5 2.4c1.31 0 2.43.78 2.93 1.9V7h2.27c.34-.6.99-1 1.73-1a2 2 0 012-2z"/>
        </svg>
      {%- when 'dot' -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <circle cx="12" cy="12" r="5"/>
        </svg>
      {%- else -%}
        <svg viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 0 14.59 8.41 23.51 9.27 16.97 15.59 18.82 24.51 12 20.12 5.18 24.51 7.03 15.59.49 9.27 9.41 8.41z"/>
        </svg>
    {%- endcase -%}
  </span>
{%- endif -%}
