<div class="size-chart-modal" data-size-chart-modal hidden>
  <div class="size-chart-modal__overlay" data-size-chart-close></div>
  <div class="size-chart-modal__panel" role="dialog">
    <button type="button" data-size-chart-close aria-label="{{ 'general.close' | t }}">✕</button>
    <div class="rte" data-size-chart-content></div>
  </div>
</div>
