<div class="search-modal" data-search-modal hidden>
  <div class="search-modal__overlay" data-search-close></div>
  <div class="search-modal__panel" role="dialog">
    <button type="button" data-search-close aria-label="{{ 'general.close' | t }}">✕</button>
    <form action="{{ routes.search_url }}" method="get" role="search">
      <input type="search" name="q" placeholder="{{ 'general.search' | t }}…" autocomplete="off" data-search-input>
      <button type="submit" class="button button--small">{{ 'general.search' | t }}</button>
    </form>
    <div class="predictive-results" data-predictive-results></div>
  </div>
</div>

{% schema %}
{
  "name": "Modal de búsqueda",
  "settings": []
}
{% endschema %}
